matrix: 
  fast_finish: true
  include:
    - os: osx
      osx_image: xcode12.2
      language: sh
      env:
          - HOMEBREW_NO_ANALYTICS=1
          - HOMEBREW_NO_INSTALL_CLEANUP=1
      addons:
          homebrew:
              update: true
              packages: python3.9
      before_install:
        - python3 --version
        - pip3 install --upgrade pip
      install:
        - pip3 install -r requirements.txt
        - pip3 install -r test-requirements.txt
      script:
        - ./scripts/pylint.sh
        - coverage run -m pytest
      after_success:
        - codecov
branches:
  only:
    - master
