pyobjc

# Testing on master to keep up with latest changes.
#pagebot
#git+https://github.com/PageBot/PageBot.git

# Dependencies that are not available on PyPI:
git+https://github.com/typemytype/drawbot.git
git+https://github.com/PageBot/PySketch.git
git+https://github.com/PageBot/flat.git
.
